
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Menu</h2>
<br />
<br />


<div class="container">
    <h3>Menu of Actions</h3>
    <br /><br />
          <ul class="list-group">
              <li class="list-group-item">@Html.ActionLink("Check Routines", "RoutineList", "Trainers")</li>
              <li class="list-group-item">@Html.ActionLink("Add Routines", "ValidateClient", "Trainers")</li>
              <li class="list-group-item">@Html.ActionLink("Add Metrics", "ValidateMetric", "Trainers")</li>
              <li class="list-group-item">@Html.ActionLink("Check Metrics", "MetricList", "Trainers")</li>
              
          </ul>
</div>