@{
    ViewBag.Title = "Home Page";
}

<div class="home_images">
    <div class="container">
        <h1 class="paragraph">Reach your physical goals for 2021!</h1>

        <br /><br /><br />
        <div class="floated">
            <button>Know How</button>
        </div>
    </div>

</div>
<div class="second_home">
    <div class="container">
        <h2>Welcome</h2>

        <div class="div_border"></div>
        <br /><br />
        <div class="row">
            <div class="col-xs-4">
                <p>This website is for those who want to look good and feel good. Anyone can be healthier, have more energy, sleep better, and feel better about themselves through bodybuilding. Bodybuilding doesn't have to be expensive or time consuming. Our focus here is on the workouts that the natural bodybuilder can do at home with inexpensive equipment.</p>
            </div>
            <div class="col-xs-4">
                <p>Don't be fooled, workouts at home don't mean easy workouts and can be just as effective as the gym. We include basic training tips for beginners and plateau break techniques for the bodybuilder striving to win. We make extensive use of videos and photos to illustrate how to do the exercises.</p>
            </div>
            <div class="col-xs-4">
                <p>We do not encourage the use of supplements or the purchase of any new equipment, you can build a fantastic physique with just a set of cheap used dumbbells. 100% unique bodybuilding training programs that you won't find anywhere else on the web.</p>
            </div>
        </div>

        <button>More Information</button>
    </div>
</div>
<div class="home_third">
    <div class="container">
        <h1 class="paragraph">Training</h1>
        <div class="div_border" style="border-bottom: 3px solid #fff"></div>
        <br /><br />
        <div class="row" style="width:45%; margin-left:auto; margin-right:auto; justify-content:center">
            <div class="col-xs-12">
                <h3>Find out how to quickly build incredible muscle mass</h3>
                <p>In competitive bodybuilding, bodybuilders aspire to develop and maintain an aesthetically pleasing body and a balanced physique. By biasing, competitors do a series of mandatory poses: the front lat extension, the back lat extension, the front double biceps, the rear double biceps, the lateral chest, the lateral triceps, the most muscular (men only) and thigh. -Abdominal posture. Each competitor also performs a routine to show off the physique.</p>
            </div>
        </div>
        <br />
        <br />

        <button>Leer Más</button>
    </div>
</div>
<div class="second_home">
    <div class="container">
        <h2>Contact Us</h2>
        <div class="div_border"></div>
        <br />
        <h3>Monday - Friday: 5:30AM - 9:00PM</h3>
        <div class="div_border" style="margin-top:25px"></div>
        <h3>Saturday - Sunday: 8:00AM - 3:00PM</h3>
        <h3><i class="5x fab fa-whatsapp-square "></i>  7245-4573</h3>
        <br />
        <br />
        <button>Email</button>
    </div>
</div>
<div class="home_fourth">
    <div class="container">
        <h1 class="paragraph">Try our supplements!</h1>
        <div class="div_border" style="border-bottom: 3px solid #fff"></div>
        <br /><br />
        <div class="floated">
            <button >@Html.ActionLink("Go Check", "Index", "Supplements")</button>
        </div>
    </div>
</div>