body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* This is the styling of the homepage */

.second_home {
    background-color: #cdd0cb;
    color: #252525;
    background-size: 100% 100%;
    height: 450px;
    text-align: center;
    padding-top: 40px;
}

.div_border {
    width: 70px;
    border-bottom: 3px solid #252525;
    margin-left: auto;
    margin-right: auto;
}

.second_home button {
    background: transparent;
    border: 2px solid #252525;
    width: 200px;
    height: 70px;
    border-radius: 25px;
    color: #252525;
}

    .second_home button:hover {
        background: #252525;
        color: #cdd0cb;
    }

.field-validation-error {
    color: orangered;
}

.input-validation-error {
    border: 2px solid orangered;
}

.validation-summary-errors {
    color: orangered;
}

.card-info {
    border: 1px solid #00bc8c;
    margin: 5px;
    border-radius: 10px;
    width: 30%;
    padding-top: 2px;
    padding-bottom: 3px;
}

.supplement-img{
    border-radius: 10px;
    width: 90%;
    margin-bottom: 10px;
    height: 185px;
}

.add-to-cart{
    margin-bottom:10px;
    width:35%;
}

.shop-count{
    margin-left: -10px;
}


