
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment</h2>

<br>
<br>
<main class="container">
    <div class="bg-light p-5 rounded">
        <h1>Generar Pago</h1>
        <br>
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Información Requerida</h4>
            <form class="needs-validation" novalidate>
                <div class="row g-3">
                    

                    

                    <div class="col-12">
                        <label for="address" class="form-label">Ciudad</label>
                        <input type="text" class="form-control" id="address" placeholder="Tres Rios" required>
                    </div>


                    
                    <div class="col-md-4">
                        <label for="state" class="form-label">Pais</label>
                        <select class="form-select" id="state" required>
                            <option value="">Seleccionar...</option>
                            <option>Costa Rica</option>
                        </select>

                    </div>
                    <div class="col-md-3">
                        <label for="zip" class="form-label">Codigo Postal</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            El codigo postal es requerido.
                        </div>
                    </div>
                </div>

                

                

                <button class="w-100 btn btn-success btn-lg" type="submit">Pagar</button>
            </form>
        </div>
        <br>

    </div>
</main>

