
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div class="home_fourth">
        <div class="container">
            <h1 class="paragraph">Thank you for your purchase, you are now one step closer to reach your goals!!</h1>
            <div class="div_border" style="border-bottom: 3px solid #fff"></div>
            <br /><br />
            
        </div>
    </div>

